#footer {
    font-weight: 300;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    .widget-title {
        margin-bottom: 1.5rem;

    }
    .footer-top {
        .container {
            padding: 20px;
            background-color: #262626;
        }
    }
    .footer-bottom {
        border-top: 1px solid #3C3C3C;
        padding-top: 13px;
        padding-bottom: 13px;
        .footer-right {
            ul {
                display: inline-flex;
                align-items: center;
                li {
                    @include not-last-child {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

.footer-cta {
    .inner {
    }
}