#footer {
    font-weight: 300;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    .widget-title {
        margin-bottom: 1.5rem;
    }
    .footer-top {
        .container {
            .inner {
                padding: 20px;
                background-color: #262626;
                .site-logo {
                    svg {
                        @include responsive(mobile) {
                            height: 13px;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        padding-bottom: 13px;
        .inner {
            @include responsive(xs-sm) {
                padding-top: 2rem;
                border-top: 1px solid #3c3c3c;
            }
        }
        .footer-right {
            ul {
                display: inline-flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                li {
                    display: flex;
                    align-items: center;
                    @include not-last-child {
                        @include after {
                            content: "";
                            width: 5px;
                            height: 5px;
                            display: inline-block;
                            border-radius: 20px;
                            background-color: #606060;
                            margin-left: 1rem;
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
        @include responsive(md-lg) {
            border-top: 1px solid #3c3c3c;
            padding-top: 13px;
        }
    }
}

.footer-cta {
    .inner {
        padding-top: 200px;
    }
}

.reviews {
    .column-holder {
        @include transition(500ms);
        .stars {
            svg {
                @include transition(500ms);
            }
        }
        @include on-event {
            background-color: var(--bs-accent) !important;
            .stars {
                svg {
                    color: var(--bs-secondary);
                }
            }
        }
    }
    .logo-box {
        img,
        svg {
            height: 35px;
            width: auto;
        }
    }
    .review-box {
        .review-text {
            font-size: 80px;
            font-weight: 600;
            margin-right: 2rem;
            line-height: 1;
            @media (max-width: 1499px) {
                margin-right: 1rem;
                font-size: 60px;
            }
            @media (max-width: 1399px) {
                margin-right: 1rem;
                font-size: 50px;
            }
            @include responsive(xs) {
                font-size: 62px;
            }
        }
        .small-text {
            margin-top: 10px;
            text-decoration: underline;
        }
        .stars {
            color: var(--bs-accent);
            svg {
                width: 39px;
                height: 39px;
                @include not-last-child {
                    margin-right: 10px;
                }
                @media (max-width: 1399px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    .logo-box {
        img {
            filter: brightness(0) invert(1);
            @include responsive(xs) {
                max-height: 32px;
                width: auto;
            }
        }
    }
}

#accordionFooter {
    @include responsive(xs) {
        .row {
            --bs-gutter-x: 0;
            --bs-gutter-y: 0;
        }
        .accordion-item {
            border-bottom: 1px solid #3b3b3b;
            border-radius: 0;
        }
        .accordion-header {
            padding-bottom: 18px;
            padding-top: 18px;
            padding-left: 1rem;
            padding-right: 1rem;
            margin-bottom: 0;
        }
        .accordion-button {
            font-size: 18px;
        }
        .accordion-body {
            padding-bottom: 18px;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    .col-footer-5 {
        margin-top: 2rem;
    }
    @include responsive(sm-lg) {
        .plus-minus {
            display: none;
        }
        .accordion-collapse {
            display: block;
        }
        .accordion-button {
            cursor: inherit;
            pointer-events: none;
        }
        .accordion-body {
            padding: 0;
        }
    }
}
