#footer {
    font-size: 15px;
    font-weight: 300;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    .footer-bottom {
        .footer-right {
            ul {
                display: flex;
                align-items: center;
                li {
                    @include not-last-child {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}