header {
    position: absolute;
    left: 0;
    top: 20px;
    right: 0;
    z-index: 999999;
    .header-inner {
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(30px) brightness(115%);
        @include responsive(xs-sm) {
            padding: 20px 15px;
        }
    }
    .navbar.navbar.navbar {
        .nav-item {
            .nav-link {
                display: flex;
                align-items: center;
                padding: 10px 1vw;
                border-radius: 10px;
                @include responsive(small-lg) {
                    font-size: 14px;
                    padding: 0 5px;
                }
                @include responsive(md) {
                    font-size: 13px;
                    padding: 0 5px;
                }
                @include on-event {
                    background-color: var(--bs-black);
                    color: var(--bs-white) !important;
                }
            }
            .submenu {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background-color: var(--bs-white);
                padding: 10px;
                border-radius: 10px;
                margin-top: 20px;
                > ul {
                    border-bottom: 1px solid var(--border-color);
                }
            }
            .submenu2 {
                position: absolute;
                left: 0;
                right: 0;
                background-color: var(--bs-white);
                border-radius: 0 0 10px 10px;
                padding: 10px;
            }
        }
    }
    .site-logo {
        svg {
            @include responsive(md) {
                height: 15px;
            }
            @include responsive(xs-sm) {
                height: 15px;
            }
        }
    }
    .header-right {
        @include responsive(md) {
            --bs-gutter-x: 15px;
        }
        .button-box {
            a {
                @include responsive(md) {
                    padding: 0.625rem 1rem;
                    font-size: 13px;
                }
            }
        }
    }
    .container {
        @include responsive(md) {
            max-width: calc(100% - 50px);
        }
    }

    .menu-burger {
        border: none;
        width: 28px;
        background-color: transparent;
        height: 18px;
        padding: 0;
        position: relative;
        span {
            height: 2px;
            display: block;
            background-color: var(--bs-white);
            position: absolute;
            left: 0;
            width: 28px;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 8.5px;
            }
            &:nth-child(3) {
                top: 17px;
            }
        }
    }
}

.admin-bar {
    header {
        @include responsive(md-lg) {
            top: 52px;
        }
    }
}
