header {
    position: absolute;
    left: 0;
    top: 20px;
    right: 0;
    z-index: 999999;
    .header-inner {
        padding: 12px 20px;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(30px) brightness(115%);
    }
}

.admin-bar {
    header {
        top: 52px;
    }
}