section.hero {
    min-height: 85vh;
    .container {
        padding-top: calc(82px + 20px);
    }
    @include responsive(mobile) {
        margin-left: 10px;
        margin-right: 10px;
    }
    &.small-hero {
        min-height: 53vh;
        .description-box {
            font-size: 15px;
        }
        .container {
            > * {
                @include not-last-child {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .description-box {
        max-width: 1112px;
        display: inline-block;
    }
}
