section.hero {
    min-height: 85vh;
    .container {
        padding-top: calc(82px);
    }
    .description-box {
        ul {
            font-weight: 300;
            list-style: none;
            padding: 0;
            li {
                display: flex;
                align-items: center;
                @include before {
                    content: "";
                    width: 16px;
                    height: 16px;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%232DA1FF" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>');
                    background-repeat: no-repeat;
                    background-size: contain;
                    flex: 0 0 16px;
                    margin-right: 10px;
                }
                @include not-last-child {
                    margin-bottom: 14px;
                }
            }
        }
    }

    @include responsive(mobile) {
        margin-left: 10px;
        margin-right: 10px;
    }
    &.small-hero {
        min-height: 53vh;
        .description-box {
            font-size: 15px;
        }
        .container {
            > * {
                @include not-last-child {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .description-box {
        max-width: 1112px;
        display: inline-block;
    }
}

body {
    &.hero-has-form  {
        section.hero {
            .container {
                @include responsive(xs-sm) {
                    padding-top: 0;
                }
            }
        }
    }
}