#wpadminbar {
    @include responsive(xs-sm) {
        display: none;
    }
}
#wpadminbar *:not(.ab-icon) {
    font-family: var(--primary-font) !important;
}
.html.html.html {
    @include responsive(xs-sm) {
        margin: 0 !important;
    }
}
img {
    max-width: 100%;
}
hr {
    color: var(--border-color);
}
main {
    @include responsive(mobile) {
        margin-top: 10px !important;
    }
}
.background-overlay {
    .container {
        position: relative;
        z-index: 1;
    }
    @include before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent linear-gradient(180deg, #00000029 0%, #00000061 100%) 0% 0%;
        z-index: 1;
    }
    & + * {
        z-index: 2;
        & + * {
            z-index: 2;
            & + * {
                z-index: 2;
            }
        }
    }
    &.background-overlay-darker {
        @include before {
            background-color: rgba(0, 0, 0, 0.85);
        }
    }
    &.background-overlay-lighter {
        @include before {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    &.background-overlay-2 {
        @include before {
            background: linear-gradient(180deg, #00000075 0%, #000000 100%) 0% 0%;
        }
    }
}

.background-image {
    margin-bottom: 0 !important;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    img,
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    & + div {
        position: relative;
        z-index: 2;
    }
    iframe {
        width: 100%;
        height: 100%;
        @include transform(scale(1.6));
        pointer-events: none;
        @include responsive(xs-sm) {
            @include transform(scale(1.7));
        }
        @include responsive(xs) {
            @include transform(scale(3));
        }
    }
    &.mx-20px {
        @include responsive(mobile) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
.background-gradient-default {
    background: linear-gradient(180deg, #efefef66 0%, #efefef00 100%) 0% 0%;
}
.content-margin {
    h2 {
        @include last-child {
            margin-bottom: 0;
        }
    }
    &:not(.flex-row) {
        > * {
            @include not-last-child {
                margin-bottom: 1.5rem;
            }
        }
    }
    &.flex-row {
        > * {
            @include not-last-child {
                margin-right: 1.5rem;
            }
        }
    }
}
.icon-box {
    svg {
        width: var(--width, 50px);
        height: var(--height, 50px);
    }
}

.rounded-corner {
    border-radius: var(--border-radius, 10px);
    overflow: hidden;
}

.border-default {
    &:not(.border-width-custom) {
        border: 1px solid var(--border-color);
    }
    &.border-width-custom {
        border-color: var(--border-color);
    }
}
.container {
    @media (min-width: 1500px) {
        max-width: 1420px;
    }
    @media (min-width: 1600px) {
        max-width: 1520px;
    }
}

.full-width {
    > .container {
        max-width: 100%;
        --bs-gutter-x: 0;
    }
}

.extend-right .container,
.extend-right.container {
    margin-right: 0;
    padding-right: 0;
}
.extend-left .container,
.extend-left.container {
    margin-left: 0;
    padding-left: 0;
}

.extend-left .container,
.extend-left.container,
.extend-right .container,
.extend-right.container {
    @media (min-width: 576px) {
        max-width: 100%;
    }
    @media (min-width: 768px) {
        max-width: calc(720px + (50% - (720px / 2)));
    }
    @media (min-width: 992px) {
        max-width: calc(960px + (50% - (960px / 2)));
    }
    @media (min-width: 1300px) {
        max-width: calc(1140px + (50% - (1140px / 2)));
    }
    @media (min-width: 1400px) {
        max-width: calc(1320px + (50% - (1320px / 2)));
    }
    @media (min-width: 1500px) {
        max-width: calc(1420px + (50% - (1420px / 2)));
    }
    @media (min-width: 1600px) {
        max-width: calc(1520px + (50% - (1520px / 2)));
    }
}

.small-container {
    .container {
        max-width: 730px;
    }
}
.medium-container {
    .container {
        max-width: 1000px;
    }
}
.logo-slider {
    .swiper-wrapper {
        transition-timing-function: linear !important;
        .swiper-slide {
            display: inline;
            width: auto;
        }
        img {
            height: 60px;
            object-fit: contain;
        }
    }
}
section {
    &:not(.no-overflow) {
        overflow: hidden;
        position: relative;
    }
    .container {
        > * {
            @include not-last-child {
                margin-bottom: 3rem;
            }
        }
    }
    .container-inner {
        > * {
            @include not-last-child {
                margin-bottom: 3rem;
            }
        }
    }
}

.button-box a,
.button-box button,
.button.button.button.button.button,
.wp-element-button.wp-element-button.wp-element-button {
    @include button-style;
}
.wp-element-button.wp-element-button.wp-element-button {
    @include button-accent;
}
.button-box.button-box.button-box {
    &.button-accent {
        a,
        button {
            @include button-accent;
        }
    }
    &.button-bordered {
        a,
        button {
            @include button-bordered;
        }
    }
    &.button-white {
        a,
        button {
            @include button-white;
        }
    }
    &.button-primary {
        a,
        button {
            @include button-primary;
        }
    }
    &.button-small {
        a,
        button {
            padding: 0.625rem 1.25rem;
        }
    }
}
@include inputs {
    padding: 17px 20px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    line-height: 1;
    width: 100%;
    max-width: 100%;
}
input[type="checkbox"] {
    width: 26px;
    height: 26px;
}
.site-logo {
    svg,
    img {
        height: 21px;
        width: auto;
    }
}
.style-1 {
    position: relative;
    .swiper-slide {
        width: 40% !important;
        .column-holder {
            > * {
                &:not(.background-image) {
                    position: relative;
                }
            }
        }
    }
}

.swiper-nav.swiper-nav.swiper-nav {
    margin-top: 2rem;
    .swiper-button-next,
    .swiper-button-prev {
        position: static !important;
        transform: none;
        margin: 0;
    }
    .swiper-button-prev {
        margin-right: 1rem;
    }
}
.swiper-button-next,
.swiper-button-prev {
    width: 61px;
    height: 61px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: currentColor;
    border-radius: 10px;
    @include after {
        font-size: 15px;
    }
}
.swiper-pagination.swiper-pagination {
    position: static;
    margin-top: 15px;
    background-color: var(--bs-light);
    border-radius: 5px;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    .swiper-pagination-bullet {
        flex: 1 0 0%;
        border-radius: 15px;
        margin: 0 !important;
        opacity: 0;

        &.swiper-pagination-bullet-active {
            opacity: 1;
            background-color: var(--bs-black);
        }
    }
}
.socials {
    ul {
        li {
            a {
                @include on-event {
                    color: var(--bs-accent);
                }
            }
            svg {
                width: 21px;
                height: 21px;
            }
            @include not-last-child {
                margin-right: 2rem;
                @include responsive(xs) {
                    margin-right: 1rem;
                }
            }
        }
    }
}

.case-study-slider {
    .swiper-slide {
        height: auto !important;
        @include responsive(md-lg) {
            padding-bottom: 200px;
        }
        .inner {
            @include responsive(xs-sm) {
                padding-bottom: calc(93px + 60px + 30px);
            }
            @include responsive(xs) {
                padding-bottom: calc(202px + 60px + 30px);
            }
            @include responsive(mobile) {
                padding-top: 20px;
                margin-left: 10px;
                margin-right: 10px;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
    .logo-box {
        img {
            max-height: 74px;
            object-fit: contain;
            width: auto;
        }
        @include responsive(xs-sm) {
            margin-bottom: 2rem;
        }
    }
    .bottom-holder {
        position: absolute;
        bottom: 90px;
        z-index: 1;
        left: 0;
        right: 0;
        @include responsive(xs-sm) {
            bottom: 60px;
        }
    }
    .col-left {
        @include responsive(xs-sm) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

.border-top-default {
    border-top: 1px solid var(--border-color);
}

.border-bottom-default {
    border-bottom: 1px solid var(--border-color);
}

.image-box {
    img {
        width: var(--width);
        height: var(--height);
        border-radius: var(--border-radius);
    }
}

.same-image-height {
    .image-box {
        position: relative;
        padding: var(--image-padding, 30%);
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: var(--object-fit, cover);
        }
    }
}

.border-primary {
    border-color: var(--bs-black);
}
.border-secondary {
    border-color: var(--bs-secondary);
}
.border-accent {
    border-color: var(--bs-accent);
}
.border-light-gray {
    border-color: var(--light-gray-color);
}

.section {
    .container {
        > .row {
            & + .row {
                &.gy-5 {
                    margin-top: 4rem;
                    @include responsive(xs) {
                        margin-top: 3rem;
                    }
                }
                &.gy-4 {
                    @include responsive(xs-sm) {
                        margin-top: 4rem;
                    }
                    @include responsive(xs) {
                        margin-top: 3rem;
                    }
                }
                &.gy-3 {
                    margin-top: 6rem;
                    @include responsive(xs-md) {
                        margin-top: 5rem;
                    }
                    @include responsive(xs-sm) {
                        margin-top: 4rem;
                    }
                    @include responsive(xs) {
                        margin-top: 3rem;
                    }
                }
                &.gy-2,
                &.gy-1 {
                    margin-top: 7rem;
                    @include responsive(xs-md) {
                        margin-top: 5rem;
                    }
                    @include responsive(xs-sm) {
                        margin-top: 4rem;
                    }
                    @include responsive(xs) {
                        margin-top: 3rem;
                    }
                }
            }
        }
    }
}

.video-box {
    video,
    iframe {
        width: 100% !important;
    }
    &.youtube {
        position: relative;
        padding: 28%;
        iframe {
            position: absolute;
            left: 0;
            top: 0;
            height: 100% !important;
        }
    }
}

small {
    font-size: 11px;
}

.swiper-linked-products {
    .swiper-wrapper {
        .swiper-slide {
            height: auto !important;
            .products,
            .product,
            .product-inner {
                height: 100%;
            }
        }
    }
    &:not(.swiper-initialized) {
        .swiper-wrapper {
            .swiper-slide {
                width: 25% !important;
                @include not-last-child {
                    margin-right: 20px;
                }
            }
        }
    }
}

.breadcrumbs {
    ul {
        display: inline-flex;
        align-items: center;
        li {
            display: inline-flex;
            align-items: center;
            @include not-last-child {
                @include after {
                    content: "";
                    height: 1px;
                    width: 24px;
                    display: inline-block;
                    background-color: currentColor;
                    margin-left: 8px;
                    margin-right: 8px;
                }
            }
        }
    }
}

.single-layouts,
.single-producttaxonomypages {
    header {
        position: static !important;
        background-color: #000;
    }
}

.tabs-holder.tabs-holder.tabs-holder {
    .nav-tabs {
        justify-content: center;
        border-bottom: 0;
        .nav-link {
            padding: 20px 30px;
            border-radius: 0;
            font-size: 25px;
            color: var(--bs-black);
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid;
            font-weight: 500;
            margin-bottom: 3rem;
            &:not(.active) {
                opacity: 0.35;
            }
        }
    }
    .description-box {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}

.form-holder {
    overflow: visible;
    .form-header {
        border-radius: 10px 10px 0 0;
        .image-box {
            margin-top: -20px;
            margin-bottom: -20px;
            padding: 50%;
            position: relative;
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        h3 {
            span {
                color: var(--bs-black);
            }
        }
    }
}

.post-category {
    a {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1;
        display: inline-block;
        @include not-last-child {
            border-right: 1px solid;
            margin-right: 10px;
            padding-right: 10px;
        }
    }
}
.post-grid,
.post-box {
    .description-box {
        &:not(.excerpt-no-limit) {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}
.post-box {
    &.featured-box {
        .content-box {
            margin-top: 45%;
        }
    }
    &.style-2 {
        padding: 1rem;
        border: 1px solid var(--border-color);
        border-radius: 10px;
    }
    &.style-3 {
        .content-box {
            padding-top: 45%;
        }
    }
}

.is-placeholder {
    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
    }
}

.post-grid-holder {
    --image-padding: 36%;
}

.meta-box {
    li {
        svg {
            width: 25px;
            height: 25px;
            flex: 0 0 25px;
            margin-right: 10px;
        }
        @include not-last-child {
            margin-bottom: 10px;
        }
    }
}

.event-filter {
    .filter-box {
        padding: 7px;
        label {
            padding: 20px 41px;
            cursor: pointer;
            @include on-event {
                color: var(--bs-white);
                background-color: var(--bs-secondary);
            }
        }
        input {
            display: none;
            &:checked {
                & + label {
                    color: var(--bs-white);
                    background-color: var(--bs-black);
                }
            }
        }
    }
}

.social-share-buttons {
    margin-left: 10px;
    a {
        border-radius: 5px;
        background-color: transparent;
        text-transform: initial;
        padding: 0;

        display: inline-block;
        @include not-last-child {
            margin-right: 10px;
        }
        svg {
            width: 35px;
            height: 35px;
            color: var(--bs-black);
            &.facebook {
                color: #0080ff;
            }
            &.linkedin {
                color: #0a66c2;
            }
        }
    }
}

.post-link-copy.post-link-copy.post-link-copy {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    background-color: transparent;
    color: var(--bs-primary);
    text-transform: initial;
    font-size: 15px;
    padding: 8.5px 20px;
    line-height: 1;
}

#post-navigation {
    li {
        width: 100%;

        a {
            font-size: 20px;
            text-decoration: none;
            font-weight: 500;
            color: var(--bs-black);
        }

        &.h3-nav {
            padding-left: 20px;
            margin-bottom: 15px;

            a {
                font-size: 1rem;
            }
        }

        @include not-last-child {
            &.h2-nav {
                margin-bottom: 1rem;
            }
        }
    }
}
#blog-single-sidebar {
    > {
        .widget-inner {
            > p:first-child {
                display: none;
            }
        }
    }
}
.related-posts-sidebar {
    .post-box {
        h3 {
            font-size: 20px;
        }
        .small-text:not(.description-box) {
            font-size: 10px;
        }
    }
}

.post-navigation-holder {
    position: sticky;
    top: 32px;
}

#post-content {
    a {
        &:not(.wp-element-button) {
            color: var(--bs-accent);
        }
    }
    @include headings {
        b {
            font-weight: 500 !important;
        }
        font-weight: 500 !important;
    }
    h2 {
        @include responsive(md-lg) {
            font-size: 2rem;
        }
    }
    h3 {
        @include responsive(md-lg) {
            font-size: 1.5rem;
        }
    }
}

.accordion {
    --bs-accordion-color: inherit;
    .accordion-item {
        border: none;
        background-color: transparent;

        .accordion-button {
            position: static;
            background-color: transparent;
            color: inherit;
            border: none !important;
            box-shadow: none;
            justify-content: space-between;
            padding: 0;
            border: none;
            border-radius: 0;
            font-weight: 500;
            font-size: 25px;
            @include after {
                content: none;
            }
            &[aria-expanded="true"] {
                .plus-minus:before {
                    display: none;
                }
            }
            @include responsive(xs) {
                font-size: 1.5rem;
            }
        }
    }

    &.with-border {
        .accordion-item {
            .accordion-button {
                padding-bottom: calc(1rem + 2px);
                @include before {
                    content: "";
                    height: 2px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: currentColor;
                    right: 0;
                }
            }
        }
    }
    &.lower-opacity {
        .accordion-item {
            .accordion-button.collapsed,
            .accordion-collapse:not(.show) {
                opacity: 0.35;
            }
        }
    }
}

.plus-minus {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    position: relative;

    @include before {
        content: "";
        width: 2px;
        height: 14px;
        background: currentColor;
        position: absolute;
        left: 6px;
        @include transition(300ms);
    }

    @include after {
        content: "";
        width: 14px;
        height: 2px;
        background: currentColor;
    }
}

hr {
    color: var(--border-color);
}

.single-capabilities {
    .hero {
        .description-box {
            max-width: 1140px;
        }
    }
}
.bubble {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--bs-accent);
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 1;
    font-size: 13px;
    color: var(--bs-white);
}

.latest-from-coptrz {
    .bg-accent {
        color: var(--bs-white);
        .bubble {
            background-color: var(--bs-secondary);
        }
        .button-box {
            a {
                @include on-event {
                    background-color: var(--bs-secondary) !important;
                    border-color: var(--bs-secondary) !important;
                }
            }
        }
    }
}

.trustpilot-logo,
.trustpilot-stars {
    svg {
        height: 45px;
        width: auto;
    }
}

.site-logo {
    a {
        color: var(--bs-white);
    }
}

.modal {
    z-index: 999999;
    &.popup-form {
        .modal-dialog {
            max-width: 800px;
        }
        &.popup-small {
            .modal-dialog {
                max-width: 600px;
            }
        }
        &.popup-medium {
            .modal-dialog {
                max-width: 1000px;
            }
        }
        &.popup-large {
            .modal-dialog {
                max-width: 1200px;
            }
        }

        .modal-content {
            border-radius: 0;
            border: none;
            &.background-primary {
                a {
                    color: var(--bs-white) !important;
                }
            }
        }
        .popup-content-default {
            > *:last-child {
                margin-bottom: 0 !important;
            }
        }
        .bg-image {
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.post-grid {
    .button-box.position-absolute {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 0;
        margin: 0;
        a {
            width: 100%;
            height: 100%;
            opacity: 0;
            font-size: 0;
        }
    }
    .col-6 {
        @include responsive(mobile) {
            .column-holder {
                padding-top: 2.5rem;
                h3 {
                    font-size: 18px;
                }
            }
        }
    }
}

.image_left.image_left {
    @include responsive(xs) {
        padding-left: calc(120px + 2rem);
        text-align: left !important;
        .icon-box,
        .image-box {
            margin-bottom: 0;
            margin-right: 1rem;
            position: absolute;
        }
        .icon-box {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 120px;
                width: 120px;
            }
        }
        &.xs-padding-top {
            .icon-box,
            .image-box {
                top: 1rem;
            }
        }
        &.xs-padding-bottom {
            .icon-box,
            .image-box {
                bottom: 1rem;
            }
        }
        &.xs-padding-left {
            .icon-box,
            .image-box {
                left: 1rem;
            }
        }
    }
}

.swiper-sliders {
    .swiper-slide {
        height: auto !important;
    }
}

.navigation.pagination {
    .nav-links {
        display: flex;
        .page-numbers {
            padding: 15px;
            color: var(--bs-black);
            border-radius: 10px;
            border: 1px solid;
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include transition(500ms);
            @include not-last-child {
                margin-right: 10px;
            }
        }
        svg {
            width: 25px;
            height: 25px;
        }
        a {
            text-decoration: none;
            @include on-event {
                background-color: var(--bs-accent);
                color: var(--bs-white);
                border-color: var(--bs-accent);
            }
        }
    }
}

.event-countdown-holder {
    text-align: center;
    font-size: 22px;
    .countdown-box {
        padding: 10px;
        font-size: 70px;
        border: 1px solid currentColor;
        line-height: 1;
    }
}

.header-spacer {
    height: 82.5px;
}
.hero-hidden {
    header .header-inner {
        background: var(--bs-black);
    }
    .breadcrumbs {
        .text-white {
            color: var(--bs-black) !important;
        }
    }
}
