$sizes: 10px, 15px, 20px, 25px, 35px, 40px, 45px, 50px;
@each $size in $sizes {
    .rounded-#{$size} {
        border-radius: $size;
    }

    .ms-#{$size} {
        margin-left: $size;
    }
    .me-#{$size} {
        margin-right: $size;
    }

    .mt-#{$size} {
        margin-top: $size;
    }
    .mb-#{$size} {
        margin-bottom: $size;
    }

    .mx-#{$size} {
        margin-left: $size;
        margin-right: $size;
    }

    .my-#{$size} {
        margin-top: $size;
        margin-bottom: $size;
    }

    .pb-#{$size} {
        padding-bottom: $size;
    }
    .pt-#{$size} {
        padding-top: $size;
    }

    .p-#{$size} {
        padding: $size;
    }
    .px-#{$size} {
        padding-left: $size;
        padding-right: $size;
    }
    .py-#{$size} {
        padding-top: $size;
        padding-bottom: $size;
    }
}

$spacings: (
    "xl": 12.5rem,
    "lg": 9.375rem,
    "md": 6.25rem,
    "sm": 3.125rem,
    "xs": 2rem
);

$spacings_laptop: (
    "xl": 10rem,
    "lg": 8rem,
    "md": 5rem,
    "sm": 2.5rem,
    "xs": 1rem
);

$spacings_tablet: (
    "xl": 8rem,
    "lg": 6.5rem,
    "md": 4rem,
    "sm": 2rem,
    "xs": 1rem
);

$spacings_mobile: (
    "xl": 10rem,
    "lg": 5rem,
    "md": 3rem,
    "sm": 2rem,
    "xs": 1rem
);
@include responsive(lg) {
    @each $size, $spacing in $spacings {
        .#{$size}-padding-top {
            padding-top: $spacing;
        }
        .#{$size}-padding-bottom {
            padding-bottom: $spacing;
        }
        .#{$size}-padding-left {
            padding-left: $spacing;
        }
        .#{$size}-padding-right {
            padding-right: $spacing;
        }
        .#{$size}-padding {
            padding: $spacing;
        }
        .#{$size}-margin {
            margin: $spacing;
        }
        .#{$size}-margin-top {
            margin-top: $spacing;
        }
        .#{$size}-margin-bottom {
            margin-bottom: $spacing;
        }
        .#{$size}-margin-left {
            margin-left: $spacing;
        }
        .#{$size}-margin-right {
            margin-right: $spacing;
        }
    }
}
@include responsive(md) {
    @each $size, $spacing in $spacings_laptop {
        .#{$size}-padding-top {
            padding-top: $spacing;
        }
        .#{$size}-padding-bottom {
            padding-bottom: $spacing;
        }
        .#{$size}-padding-left {
            padding-left: $spacing;
        }
        .#{$size}-padding-right {
            padding-right: $spacing;
        }
        .#{$size}-padding {
            padding: $spacing;
        }
        .#{$size}-margin {
            margin: $spacing;
        }
        .#{$size}-margin-top {
            margin-top: $spacing;
        }
        .#{$size}-margin-bottom {
            margin-bottom: $spacing;
        }
        .#{$size}-margin-left {
            margin-left: $spacing;
        }
        .#{$size}-margin-right {
            margin-right: $spacing;
        }
    }
}
@include responsive(sm) {
    @each $size, $spacing in $spacings_tablet {
        .#{$size}-padding-top {
            padding-top: $spacing;
        }
        .#{$size}-padding-bottom {
            padding-bottom: $spacing;
        }
        .#{$size}-padding-left {
            padding-left: $spacing;
        }
        .#{$size}-padding-right {
            padding-right: $spacing;
        }
        .#{$size}-padding {
            padding: $spacing;
        }
        .#{$size}-margin {
            margin: $spacing;
        }
        .#{$size}-margin-top {
            margin-top: $spacing;
        }
        .#{$size}-margin-bottom {
            margin-bottom: $spacing;
        }
        .#{$size}-margin-left {
            margin-left: $spacing;
        }
        .#{$size}-margin-right {
            margin-right: $spacing;
        }
    }
}
@include responsive(xs) {
    @each $size, $spacing in $spacings_mobile {
        .#{$size}-padding-top {
            padding-top: $spacing;
        }
        .#{$size}-padding-bottom {
            padding-bottom: $spacing;
        }
        .#{$size}-padding-left {
            padding-left: $spacing;
        }
        .#{$size}-padding-right {
            padding-right: $spacing;
        }
        .#{$size}-padding {
            padding: $spacing;
        }
        .#{$size}-margin {
            margin: $spacing;
        }
        .#{$size}-margin-top {
            margin-top: $spacing;
        }
        .#{$size}-margin-bottom {
            margin-bottom: $spacing;
        }
        .#{$size}-margin-left {
            margin-left: $spacing;
        }
        .#{$size}-margin-right {
            margin-right: $spacing;
        }
    }
}
.background-contain {
    background-size: contain;
}
.background-cover {
    background-size: cover;
}

.background-no-repeat {
    background-repeat: no-repeat;
}

.bg-accent {
    background-color: var(--bs-accent);
}

.bg-gray {
    background-color: var(--bs-gray);
}

.small-width.small-width.small-width {
    max-width: 730px;
}

.text-accent {
    color: var(--bs-accent) !important;
}
.fw-medium {
    font-weight: 500 !important;
}
.g-10px {
    --bs-gutter-x: 10px;
    --bs-gutter-y: 10px;
}

.gy-6 {
    --bs-gutter-y: 4rem;
}

.gx-6 {
    --bs-gutter-x: 4rem;
}

.g-6 {
    --bs-gutter-x: 4rem;
    --bs-gutter-y: 4rem;
}

.g-20px {
    --bs-gutter-x: 20px;
    --bs-gutter-y: 20px;
    @include responsive(mobile) {
        --bs-gutter-x: 10px;
        --bs-gutter-y: 10px;
    }
}

.gx-20px {
    --bs-gutter-x: 20px;
}
.gy-20px {
    --bs-gutter-xy: 20px;
}
.g-xs-10px {
    @include responsive(xs) {
        --bs-gutter-x: 10px;
        --bs-gutter-y: 10px;
    }
}
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    @include responsive(xs) {
        --bs-gutter-x: 20px;
    }
}
.header-padding {
    padding-top: 80.75px;
}

section {
    &.mx-20px {
        @include responsive(mobile) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

.swiper-full-width {
    .mx-20px {
        @include responsive(mobile) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

.bg-cover {
    background-size: cover !important;
}
.bg-contain {
    background-size: contain !important;
}

.text-inherit {
    color: inherit !important;
}

.col-lg-20 {
    flex: 0 0 auto;
    @include responsive(sm-lg) {
        width: 33.333333333%;
    }
    @include responsive(lg) {
        width: 20%;
    }
}

.col-md-20 {
    flex: 0 0 auto;
    @include responsive(sm-lg) {
        width: 20%;
    }
}

.bg-light-gray {
    background-color: var(--light-gray-color);
}