$sizes: 10px, 15px, 20px, 25px, 35px, 40px, 45px, 50px;
@each $size in $sizes {
    .rounded-#{$rad} {
        border-radius: $size;
    }

    .ms-#{$rad} {
        margin-left: $size;
    }
    .me-#{$rad} {
        margin-right: $size;
    }
}

.background-image {
    background-position: center;
    background-size: cover;
}
