body {
    font-family: var(--primary-font);
    color: var(--primary-color);
}
.small-text {
    font-size: 15px;
}
.big-text {
    font-size: 2.875rem;
    font-weight: 300;
    @include responsive(xs-md) {
        font-size: 2.5rem;
    }
    @include responsive(xs-sm) {
        font-size: 2rem;
    }
    @include responsive(xs) {
        font-size: 1.5rem;
    }
    @include responsive(mobile) {
        font-size: 1.25rem;
    }
}
.smaller-text {
    font-size: 13px;
}
.large-heading {
    font-size: 2.25rem;
    @media (min-width: 992px) {
        font-size: 2.5rem;
    }
    @media (min-width: 1200px) {
        font-size: 3.375rem;
    }
    @media (min-width: 1440px) {
        font-size: 4.5rem;
    }
}

h1,
h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    @media (min-width: 992px) {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        
    }
    @media (min-width: 1200px) {
        font-size: 3.375rem;
    }
    
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    @media (min-width: 992px) {
        font-size: 1.75rem;
        &.small-heading {
            font-size: 1.5rem;
        }
    }
    @media (min-width: 1200px) {
        font-size: 2rem;
        &.small-heading {
            font-size: 1.5rem;
        }
    }
   
}

h4 {
    font-size: 1.25rem;

    @media (min-width: 1200px) {
        font-size: 1.5625rem;
    }
    @include responsive(xs) {
        font-size: 1.125rem;
    }
}
a {
    color: var(--bs-accent);
}
@include headings {
    font-weight: 500;
    text-transform: capitalize;
}

p {
    @include last-child {
        margin-bottom: 0;
    }
}

.medium-text {
    font-size: 1.125rem;
    @include responsive(xs) {
        font-size: 0.9375rem;
    }
}

.large-text {
    font-size: 1.25rem;
}

.section {
    .h2 {
        margin-bottom: 1rem;
    }
}


/*Page: blocks editor default css*/
.page-template-page-blocks-editor {
	h1,h2,h3,h4,h5,h6 {
		font-weight: 600
	}
}
/*end of Page: blocks editor default css*/