// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$base-url: "./assets/" !default;
$image-url: "./assets/images/" !default;
$font-url: "./assets/fonts/" !default;
$primary-font: "Poppins", sans-serif;
$primary-color: #000000;
$secondary-color: #1c1c1e;
$accent-color: #2da1ff;
$text-color: #a0a1a8;
$white-color: #ffffff;
$black-color: #000000;
$light-blue: #0093cc14;
$gray-color: #707070;
$dark-gray-color: #4b4b4b;
$light-color: #cfd0d8;
$body-color: #f7f7fa;
$light-gray-color: #f2f2f2;
$border-color: #dbdbdb;
$red-color: #d64550;
:root {
	--primary-font: #{$primary-font};
	--bs-primary: #000;
	--bs-dark: #0f0f0f;
	--bs-dark-rgb: 15, 15, 15;
	--bs-primary-rgb: 0, 0, 0;
	--bs-secondary: #1c1c1e;
	--bs-secondary-rgb: 28, 28, 30;
	--bs-light: #efefef;
	--bs-light-rgb: 239, 239, 239;
	--bs-accent: #{$accent-color};
	--red-color: #{$red-color};
	--border-color: #{$border-color};
	--light-gray-color: #{$light-gray-color};
	--bs-accordion-color: inherit;
	--bs-gray: #85898c;
}

/**
 * Block Editor Custom Color Variables
 * Defines the core hex values mapped to the Gutenberg custom palette.
 */
:root {
	--wp--preset--color--primary: #000000;
	--wp--preset--color--secondary: #132446;
	--wp--preset--color--tertiary: #0e1729;
	--wp--preset--color-quaternary: #010817;
	--wp--preset--color-quinary: #0e1b35;
	--wp--preset--color--contrast-white: #ffffff;
	--wp--preset--color--accent: #2da1ff;
	--wp--preset--color--lightgray: #cbcbcb;
	--wp--preset--color--lightgray2: #dbdbdb;
	--wp--preset--color--lightgray3: #efefef;
}
