section.columns {
    &.numbered-boxes {
        .row {
            counter-reset: section;
            > [class*="col-"] {
                counter-increment: section;
                &:before {
                    content: "0" counter(section);
                }
            }
        }
    }
}
