section.columns {
    &.numbered-boxes {
        .row {
            counter-reset: section;
            > [class*="col-"] {
                .inner {
                    counter-increment: section;
                    &:before {
                        content: "0" counter(section);
                    }
                }
            }
        }
    }
}
