#footer {
    padding-top: 100px;
    padding-bottom: 100px;
    .widget-title {
        font-size: 2rem;
        margin-bottom: 20px;
        @include responsive(xs-md) {
            font-size: 1.5rem;
        }
    }
    .menu {
        padding: 0;
        list-style: none;
        .menu-item {
            a {
                color: var(--white-color);
            }
            @include not-last-child {
                margin-bottom: 10px;
            }
        }
    }
}
