.top-bar {
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header {
	.top-header {
		.search-form {
			border: 1px solid var(--border-color);
			max-width: 890px;

			> * {
				height: 54px;
				border-radius: 0;
				border: none;
			}
			select {
				width: 40%;
			}
			input {
				width: calc(60% - 54px);
				border-right: 1px solid var(--border-color);
				border-left: 1px solid var(--border-color);
			}
			button {
				background-color: var(--accent-color);
				color: var(--white-color);
				width: 54px;
			}
		}
		.column-right {
		}
	}
	.bottom-header {
		border-bottom: 1px solid var(--body-color);
		ul {
			.menu-item {
				.nav-link {
					color: var(--black-color);
					font-size: 15px;
					padding-top: 30px;
					padding-bottom: 30px;
				}
			}
		}
		.mega-menu {
			.mega-menu-link {
				color: var(--black-color);
				font-size: 15px;
				padding-top: 30px;
				padding-bottom: 30px;
				&.has-submenu {
					&:after {
						content: "";
						width: 10px;
						height: 10px;
						border-left: 2px solid;
						border-top: 2px solid;
						@include transform(rotate(225deg) translateY(5px));
						display: inline-block;
					}
				}
			}
			.menu-holder {
				@include on-event {
					.submenu-holder {
						display: block;
					}
				}
			}
			.submenu-holder {
				position: absolute;
				left: 0;
				right: 0;
				background-color: var(--white-color);
				z-index: 99999;
				display: none;
				.container {
					padding-left: 0.75rem;
					padding-right: 0.75rem;
				}
				.submenu-item-title {
					padding: 0px 0px 15px 0px;
					border-style: solid;
					border-width: 0px 0px 1px 0px;
					border-color: #D8D8D8;
				}
			}
		}
	}
}

/* Basic Dropdown Styling */
.cart-dropdown {
	position: relative;
	display: inline-block;
	.cart-dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 250px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}
	.cart-subtotal {
		color: #979797;
		font-weight: 600;
	}
	.cart-icon {
		color: #979797;
	}
	@include on-event {
		.cart-dropdown-content {
			display: block;
		}
	}
}
