.top-bar {
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header {
	.top-header {
		.search-form {
			border: 1px solid var(--border-color);
			max-width: 890px;
			> * {
				height: 54px;
				border-radius: 0;
			}
			button {
				background-color: var(--accent-color);
			}
		}
	}
	.bottom-header {
		border-bottom: 1px solid var(--body-color);
		.navigation-holder {
			ul {
				.navbar-nav {
					flex-direction: row;
				}
			}
		}
	}
}
