.top-bar {
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header {
	.top-header {
		.search-form {
			border: 1px solid var(--border-color);
			max-width: 890px;
			> * {
				height: 54px;
				border-radius: 0;
				border: none;
			}
			select {
				width: 40%;
			}
			input {
				width: calc(60% - 54px);
				border-right: 1px solid var(--border-color);
				border-left: 1px solid var(--border-color);
			}
			button {
				background-color: var(--accent-color);
				color: var(--white-color);
				width: 54px;
			}
		}
	}
	.bottom-header {
		border-bottom: 1px solid var(--body-color);
		.navigation-holder {
			ul {
				.navbar-nav {
					flex-direction: row;
				}
			}
		}
	}
}
