@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body,
#wpadminbar *:not(.ab-icon),
.carbon-box *:not(.dashicons-before):not(.dashicons) {
  font-family: "Poppins", sans-serif !important;
}


.admin-popup.admin-popup.admin-popup {
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-popup.admin-popup.admin-popup:not(.active) {
  display: none;
}
.admin-popup.admin-popup.admin-popup .inner {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 100%;
  position: relative;
}
.admin-popup.admin-popup.admin-popup .inner .buttons {
  margin: 1rem;
}
.admin-popup.admin-popup.admin-popup .inner .buttons .button {
  padding: 15px 30px;
  line-height: 1;
  font-size: 15px;
  margin-right: 1rem !important;
}

.close-admin-popup {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.wysiwyg-editor-trigger.wysiwyg-editor-trigger {
  padding: 15px 30px;
  line-height: 1;
  font-size: 15px;
}

.field-url-cb {
  display: none !important;
}

.page-selector {
  display: flex;
}
.page-selector label {
  flex: 0 0 170px;
}
.page-selector select {
  flex: 0 0 calc(100% - 170px);
}

.d-none {
  display: none !important;
}